html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgb(72, 174, 73);
}

canvas {
  display: block;
}

.pageTitle{
  text-align: center; 
}

.taskButton{
  width:250px;
  height:60px;
  padding: 14px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: center;
  display: inline;
}

a:link { 
  text-decoration: none; 
}
a:visited { 
  text-decoration: none; 
}


.gameButtons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#pageheader{
  padding: 10px;
}